$plot-background-color: #888;
$spectral-locus-color: #DDD;
$axis-color: #DDD;
$grid-color: #AAA;

.fine-grid {
    stroke: $grid-color;
    stroke-width: 0.5;
}
.grid {
    stroke: $grid-color; 
}
.plot-area {
    fill: $plot-background-color;
    filter: drop-shadow(5px 5px 3px lightgray);
    stroke: none;
    stroke-width: 0;
}
.spectral-locus {
    fill: $spectral-locus-color;
    stroke: none;
    stroke-width: none;
}
.spectral-locus-ticks {
    stroke: $plot-background-color;
}
.planckian {
    stroke: $plot-background-color;
    stroke-width: 2;
}

.spectral-locus-labels text {
    fill: $spectral-locus-color;
}